<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF в JPG</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/rotate.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">
</head>
<body>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("btn_select_file").onchange = function() {
                document.getElementById("form").submit();
            };

            label_in_form = document.getElementsByTagName('label')[0];
            label_in_form.innerText = "Выбрать PDF файл";
        });
    </script>
    <!-- <script src="../static/js/dropzone.js"></script> -->
    <div class="parent">


        <h1 class="func-name">Конвертировать PDF в JPG</h1>
        <h3 class="func-description">Получите каждую страницу PDF в ZIP архиве</h3>

        {% if orientation == "L" %}
            <img src="/uploaded/media/{{ image }}" id='thumbnail_0' width="180" height="101">
        {% else %}
            <img src="/uploaded/media/{{ image }}" id='thumbnail_0' width="101" height="180">
        {% endif %}

        <form method="post" enctype="multipart/form-data" id="form">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Ready</button>
        </form>
        <!-- <div class="drop-upload" id='drop-zone' ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
            drop files here
        </div> -->
    </div>
</body>
</html>