<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {% for n, image, orientation in num_and_images_and_orientation %}
            {{ form.to_delete }}

            {% if orientation == "L" %}
                <img src="/uploaded/media/{{ image }}" id='thumbnail_{{ forloop.counter }}' width="180" height="101">
            {% else %}
                <img src="/uploaded/media/{{ image }}" id='thumbnail_{{ forloop.counter }}' width="101" height="180">
            {% endif %}

        {% endfor %}
        <button type="submit">Get new</button>
    </form>
</body>
</html>