/** {
    padding: 0;
    margin: 0;
}
*/
html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #484646;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #484646;
    flex-direction: column;
}

.parent button {
    display: none;
}


/*Кнопка выбора файла*/
.parent label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: none;
    background-color: #CBC6C5;
    font-weight: 600;
    font-size: 28px;
    padding: 24px 56px;
    transition: all .1s linear;
    border-radius: 8px;
}

.parent label:hover {
    background-color: #FFFFFF;
}

#btn_select_file {
    display: none;
}

#id_file {
    display: none;
}

.func-name {
    position: relative;
    bottom: 145px;
    font-size: 60px;
    color: #FFFFFF;
}

.func-description {
    position: relative;
    bottom: 135px;
    font-size: 20px;
    color: burlywood;
}

.drop-upload {
    height: 200px;
    width: 200px;
    border: 2px solid black;
}





/*/////////////////////////////////*/
.container {
    margin: 4px;
    width: 198px;
    height: 244px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    border: 1px solid rgba(0,0,0,0);
    background: #f6f6f8;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
}

.child {
    margin: 12px;
    padding: 12px;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 1px dashed #626870;
}

.parent-2 {
    display: flex;
    justify-content: center;
    text-align: center;
}


.form {
    display: flex;
}
.inputs {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: black;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.container {
    display: flex;
    flex-direction: column;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
a.result-url {
    color: white;
}
.result-url-text {
    color: beige;
}